*{
    box-sizing: border-box;
    margin: 0;
}
img{
    max-width: 100%;
}
.top{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    padding: 0 150px;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.top1{
    display: flex;
}
.top2{
    display: flex;
}
.main2{
    padding: 10px;
}
.container{
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 10px 150px;
    position: sticky;
    top: 0;
}
.list{
    margin-top: 17px;
}
.li{
    display: inline-block;
    padding: 15px;
}
.li:hover{
    background-color:rgb(63, 146, 63);
    color: white;
}
.image{
    display: flex;
    justify-content: space-between;
    padding: 100px 150px;
    background:url('image/pic2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
}
.pra1 ,.pra2 ,.pra3{
    background-color: white;
    flex-basis: 30%;
    text-align: center;
}
.pra1 h2 ,.pra2 h2 ,.pra3 h2{
    background-color: #d3d3d3;
    padding: 20px;
    text-transform:uppercase ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.pra1 h3 ,.pra2 h3 ,.pra3 h3{
    background-color: rgb(63, 146, 63);
    padding: 15px;
    text-transform:uppercase ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.pra1 p, .pra2 p, .pra3 p{
    padding: 20px;
}
.box{
    display: flex;
    justify-content:center;
    padding:40px 150px;
}
.left-side,.right-side{
    width: 50%; 
}
.left-side h2 ,.right-side h2{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 30px;
}
.photo1{
    width: 83%;
    border: 1px solid white;
    background:url('image/image2.jpeg');
}
.sub{
    border: 1px solid rgba(0, 0, 0,0.5);
    margin: 319px 0 0 0;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 10px;
}
.sub h3{
    text-transform: uppercase;
    font-size: 25px;
}
.sub p{
    font-size: 18px;
    text-transform: capitalize;
    padding: 20px;
}
span{
    border: 1px solid rgb(216, 41, 18);
    color: rgb(223, 28, 22);
    text-transform: uppercase;
    padding: 5px;
    font-size: 12px;
    padding-bottom: 10px;
}
span:hover{
    background-color: brown;
    color: white;
}
.section1{
    display: flex;
}
.sec1{
    width: 30%;
    margin-right: 7px;
    background-image: url('image/image6.jpeg');
    background-position: center;
    background-size: cover;
}
.sec2{
    width: 70%;
}
.sec2 h3{
    text-transform: uppercase;
}
.sec2 h5{
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sec2 p{
    padding: 10px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.word{
    padding-top: 70px;
    background-color: #d3d3d3;
}   
.word h2{
    text-transform: uppercase;
    text-align: center;
}
.word P{
    text-align: center;
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box1{
    display: flex;
    padding:50px 150px 40px 150px;
    background-color: #d3d3d3;
}
.part1{
    width: 45%;
    display: flex;
    margin-right:5%;
    border: 1px solid chocolate;
}
.part2{
    width: 45%;
    display: flex;
    margin-left: 5%;
    border: 1px solid chocolate;
}
.d1{
    width: 50%;
    background-image: url('image/image4.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.d2{
    width: 50%;
    padding: 17px;
    background-color: chocolate;
    color: white;
}
.d2 h3{
    padding: 9px;
    line-height: 16px;
    font-size: 15px;
}
button{
    background-color: chocolate;
    border: 1px solid white;
    padding: 8px;
    color: white;
}
.bottom{
    display: flex;
    background-color: rgba(20, 20, 20, 0.897);
    padding: 40px 150px 20px 150px;
}
.bottom1{
    width: 46%;
    margin-right:2% ;
}
.bottom2{
    width: 25%;
    margin-right: 2%;
}
.bottom3{
    width: 25%;
}
.g1 h3{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.bottom h4{
    padding: 10px;
    color: rgb(119, 128, 128);
}
#latter{
    padding: 20px 0px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: none;
    color: rgb(119, 128, 128);
}
.bottom1 p{
    padding: 7px;
    color: rgb(119, 128, 128);
}
.bottom2 p{
    padding: 20px 0 0;
    color: rgb(50, 207, 50);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bottom3 input{
    margin-top: 20px;
    width: 100%;
    padding: 5px;
    background-color: black;
}
input:focus{
    background-color: rgb(29, 133, 26);
    color: white;
}
.bottom3 button{
    background-color: rgb(113, 172, 55);
    margin-top: 20px;
    padding: 10px;
}
.icon{
    background-color: black;
    margin-top: 35px;
    color: white;
    padding: 10px;
    word-spacing: 10px;
}
button:hover{
    background-color: brown;
    color: white;
}
@media (max-width:1163px){
    .box{
        flex-direction: column;
    }
    .left-side, .right-side{
        width: 100%;
    }
    .photo1{
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .word{
        padding: 0 150px;
    }
}
@media (max-width:1066px){
    .container{
        padding: 10px 90px;
    }
}
@media (max-width:992px){
    .top{
        padding: 0 10px;

    }
    .container{
        padding: 10px 0px;
    }
    .image{
        padding: 100px 0px;
    }
    .box{
        padding: 40px 0px;
    }
    .box1{
        padding: 50px 10px 40px 0px;
    }
    .bottom{
        padding: 20px 0;
    }
    .bottom1,.bottom2,.bottom3{
        padding: 10px;
    }
    .box{
        flex-direction: column;
    }
    .left-side, .right-side{
        width: 100%;
    }
    .word{
        padding: 70px 0 0;
    }
    .box1{
        flex-direction: column;
    }
    .part1,.part2{
        width: 100%;
        margin: 0 0 20px 0;
    }
    .d1 ,.d2{
        padding: 20px;
    }
}
@media (max-width:916px){
    .icon{
        word-spacing: 5px;
    }
}
@media (max-width:785px){
    .icon{
        word-spacing: 0;
    }
}
@media (max-width:763px){
    .list{
        font-size: 16px;
    }
    .li{
        padding: 10px;
    }
    .pra1 h2, .pra2 h2, .pra3 h2{
        padding: 10px;
    }
    .pra1 p, .pra2 p, .pra3 p{
        padding: 10px;
    }
}
@media (max-width:721px){
    .bottom{
        padding: 0;
    }
}
@media (max-width:715px){
    .logo img{
        width: 70%;
    }
    .list{
        font-size: 15px;
        margin-top: 10px;
    }
    .li{
        padding: 7px;
    }
}
@media (max-width:663px){
    .logo{
        width: 30%;
    }

    .list{
        width:70% ;
    }
    .li{
        padding: 4px;
    }
    .icon i{
        font-size: 13px;
    }
}
@media (max-width:576px){

    .image{
        flex-direction: column;
        background-image: none;
        padding: 20px;
    }
    .pra1,.pra2,.pra3{
        margin-bottom: 30px;
    }
    .main2{
        font-size: 13px;
    }
    .pra1 h2,.pra2 h2,.pra3 h2{
        font-size: 25px;
        padding: 25px;
    }
    .pra1 p,.pra2 p,.pra3 p{
        font-size: 20px;
    }
    .bottom{
        flex-direction: column;
        padding: 20px;
    }
    .bottom1,.bottom2,.bottom3{
        width: 100%;
        margin: 0;
    }
    .icon{
        word-spacing: 15px;
    }
    .icon i{
        font-size: 16px;
    }
}
@media (max-width:537px){
    .logo img{
        width: 100%;
    }
    .list{
        font-size: 13px;
    }
    .main2{
        font-size: 10px;
    }
}
@media (max-width:479px){
    .logo{
        width: 20%;
    }
    .logo img{
        width: 100%;
    }
    .list{
        width: 80%;
        margin-top: 3px;
    }
    .right-side{
        padding: 15px;
    }
}
@media (max-width:450px){
    .main2{
        padding: 5px;
    }
    .list{
        font-size: 12px;
        margin-left: 20px;
    }
}
@media (max-width:410px){
    .list{
        font-size: 10px;
    }
}
@media (max-width:380px){
    .main2{
        font-size: 9px;
    }
}